nav {
    box-sizing: border-box;
    background-color: #003d50;
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
    border: 5px groove #fa5234;
    z-index: 10
}

.navigation {
    position: absolute;
    top: 0px;
    left: 110px;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    color: white;
    font-family: "verdana";
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    padding: 25px 10px 20px;

}

.nav-item a:hover {
    background-color: #fa5234;
    color: #ccc;
    font-weight: bold;
}

.search {
    position: absolute;
    top: 20px;
    right: 100px;
    height: 10px;
}

.cart {
    position: absolute;
    top: 20px;
    right: 60px;
    height: 20px;
    padding: 0px;
}

body {
    background-color: #ccc;
}

.welcome {
    position: absolute; 
    top: 10%;
    left: 30%;
    width: 40%;
    margin-top: 5%;
    text-align: center;
    background-color: #003d50;
    border-radius: 25px;
    border: 10px groove #fa5234;
    color: #ddd;
    font-family: 'garamond';
    z-index: 5;
}

.welcome h1 {
    padding: 20px 0px;
    font-size: 36pt;
}

.welcome h2 {
    font-size: 20pt;
}

.home-blurb {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    margin-top: 10%;
    padding: 20px;
    font-family: "verdana";
    font-size: 12pt;
    text-align: center;
    background-color: #003d50;
    border-radius: 25px;
    border: 5px groove #fa5234;
    color: #ddd;
}

.home-blurb h2 {
    font-family: "verdana";
    font-size: 20pt;
}

.home-blurb a {
    text-decoration: underline;
    color:#ddd
}

.home-blurb a:active {
    color: #fa5234
}


.list-heading {
    position: absolute; 
    top: 100px;
    left: 30%;
    width: 40%;
    text-align: center;
    background-color: #003d50;
    border-radius: 25px;
    border: 8px groove #fa5234;
    color: #ddd;
    font-family: 'garamond';
}

.list-heading h1 {
    padding: 10px 0px;
    font-size: 24pt;
}

.list-heading h2 {
    font-size: 18pt;
    padding-bottom: 10px;
}

.restaurant-list {
    position: absolute; 
    top: 300px;
    left: 3%;
    width: 90%;
    height: 1900px;
    padding: 25px;
    background-color: #003d50;
    border-radius: 25px;
    border: 8px groove #fa5234;
    color: #ddd;
    display: grid;
    grid-template-rows: repeat(6, 300px);
    grid-template-columns: 90%;

    list-style:none;
    counter-reset:li;
}


.restaurant-list li{
    position: relative;
    left: 5%;
    }

.restaurant-list li:before {
    content: counter(li);
    counter-increment:li;
    top: 40%;
    margin-left:-40px;
    border-radius:3px; 
    background:#fa5234; 
    color:#003d50;
    position:absolute;
    width:50px; 
    height:50px;
    padding: 10px 5px 0px 5px;  
    text-align: center;
    line-height: -50%;
    font-family: "helvetica"; 
    font-size: 18pt; 
    font-weight: bold;
    text-decoration: underline;
}

.list-item {
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: 35% 65%;
    gap: 5px;
}


.list-entry {
    grid-column: 1 / 3;
    font-family: 'garamond';
    font-size: 20pt;
    text-decoration: underline;
}

.list-image {
    border: 5px groove #ccc;
}


.list-text {
    height: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 5px groove #ccc;
    background-color: #ccc;
    color: #003d50;
    font-family: 'verdana';
    font-size: 14pt;

}

.table-heading {
    position: absolute; 
    top: 2350px;
    left: 30%;
    width: 40%;
    padding: 10px;
    text-align: center;
    background-color: #003d50;
    border-radius: 25px;
    border: 8px groove #fa5234;
    color: #ddd;
    font-family: 'garamond';
    font-size: 18pt; 
}

.info-table {
    position: absolute;
    top: 2450px;
    left: 5%;
    width: 90%;
    background-color: #003d50;
    border-radius: 25px;
    border: 8px groove #fa5234;
    color: #ddd;
}

.header-row th {
    border-bottom: 3px double #fa5234;
    font-family: 'garamond';
    font-size: 20pt; 
    font-style: italic;
    font-weight: bold;
    text-align: left;

}

.table-row td {
    font-family: 'verdana';
    font-size: 12pt;
}

.table-row td a {
    color: #ddd;
}

.table-row td a:active {
    color: #fa5234;
}

.home-kitchen-image {
    z-index: 0;
    opacity: 65%;
}
