nav {
    box-sizing: border-box;
    background-color: #003d50;
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
    border: 5px groove #fa5234;
}

.navigation {
    position: absolute;
    top: 0px;
    left: 110px;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    color: white;
    font-family: "verdana";
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    padding: 25px 10px 20px;

}

.nav-item a:hover {
    background-color: #fa5234;
    color: #ccc;
    font-weight: bold;
}

.search {
    position: absolute;
    top: 20px;
    right: 100px;
    height: 10px;
}

.cart {
    position: absolute;
    top: 20px;
    right: 60px;
    height: 20px;
    padding: 0px;
}

body {
    background-color: #ccc;
}

.welcome {
    position: absolute; 
    top: 10%;
    left: 30%;
    width: 40%;
    margin-top: 5%;
    text-align: center;
    background-color: #003d50;
    border-radius: 25px;
    border: 10px groove #fa5234;
    color: #ddd;
    font-family: 'garamond';
}

.welcome h1 {
    padding: 20px 0px;
    font-size: 36pt;
}

.welcome h2 {
    font-size: 20pt;
}

.home-blurb {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    margin-top: 10%;
    padding: 20px;
    font-family: "verdana";
    font-size: 12pt;
    text-align: center;
    background-color: #003d50;
    border-radius: 25px;
    border: 5px groove #fa5234;
    color: #ddd;
}



